body{
	margin:0;
	padding:0;

}

#container{
	margin:0;
	background-color:#ececec;
	width:100%;
	height:100%;
	font-family:'arial', 'helvetica neue', helvetica,sans-serif;
	color: #777777;
	background-image: url("../images/regal.png");
}

#container,#nav_container{
	margin-top:0;
}

#nav_container{
	background-color:#ffffff;
	height:70px;
	width:100%;
	border-bottom:2px solid #cccccc;
}
 h2{
 	font-size:27px;
 }
  h3{
  	font-size:21px;
  	margin-top:18.72px;
  }

 h2,h3, h6{
 	font-family:'georgia', times,'times new roman', serif;
 	color: #40aaa5;
 }

 h4{
	font-family:'georgia', times,'times new roman', serif;
 }

 #name_heading{
 	color: #ffffff;
 	background-color:#40aaa5;
	float:left;
 	margin:0 0 0 152.5px;
 	padding:21.5px
 }

 ul{
 	margin:0 152.5px 0 0;
 	padding:26px 0 26px 0;

 }

 li{
 	display:inline;
 	color:#b1afa6;
 	float:right;
 }

 a{
 	margin:0;
 	padding:0;
 	text-decoration: none;
 	color:#b1afa6;
 }

 .navseparators, .navlinks{
 	padding-right:10px;
 }

a:hover{
	color:#40aaa5;
}

 #about_me_container, #connect_container,#portfolio_content,#contactcontainer{
 	margin-top:20px;
 }


 #about_me_container, #portfolio_content, #contactcontainer{
 	clear:both;
 	float:left;
 	background-color:#ffffff;
 	margin-left:152.5px;
 	margin-bottom: 30px;
 	border:1px solid #dddddd;
 }

 #about_me_container{
 	width:650px;
 	height:550px;
 }

#portfolio_content{
	width:650px;
 	height:700px;
}

#contactcontainer{
	width:650px;
 	height:450px;
}


 #about_meheading, #portfolio_heading, #contact_heading{
	margin:0 0 10px 10px;
	padding:20px 0 10px 10px;
}

#about_divider,#portfolio_divider,#contact_divider{
	background-color:#ececec;
	margin:10px 20px;
	padding:0;
	position:relative;
	height:3px;
}

#bio-image{
	float:left;
	width:180px;
	height:233px;
	margin:10px 10px 10px 20px;
	padding-top:10px;


}
#first_paragraph, #second_paragraph, #third_paragraph{
	line-height: 1.5;
	text-align:justify;
	padding-top:10px;
	margin-right:20px;
}

 #connect_container{
 	float:right;
 	background-color:#ffffff;
 	width:270px;
 	margin-right:152.5px;
 	border:1px solid #dddddd;
 }

#connect_heading{
	width:100%;
	text-align: center;
}

#connect_divider{
 	background-color:#ececec;
	margin:10px 20px;
	padding:0;
	position:relative;
	height:3px;
 }
 
 #stackicon, #linkeinicon, #githubicon{
 	margin:10px 0;
 	padding:0;
 	height:50px;
 	width:50px;
 }

 #githubicon{
 	margin-left:50px;
 }

#linkeinicon{
	margin-left:5px;
	margin-right:5px;
}

#footertop{
	clear:both;
	margin-top:10px;
	margin-bottom:0;
	height:10px;
	width:100%;
	background-color: #40aaa5;
	}

footer{
	clear:both;
	color:#b1b0b0;
	text-align: center;
	margin:0;
	background-color:#666666; 
	width:100%;
	height:70px;
}

h5{
	margin:0;
	padding-top:30px;
	
}
h4{
	width:100px;
	height:40px;
}
.containerportfolioleft{
	float:left;
	width:300px;
	height:190px;
	margin-top:10px;
	margin-left:20px;	
	position:relative;
	text-align: center;
	color:white;
}

#hangmantext,#triviatext,#rocktext{
	position:absolute;
	background-color:#40aaa5; 
	top:100px;
	left:0px;
	padding:10px 100px;	
}

#hangmantext:hover,#triviatext:hover,#rocktext:hover{
	background-color: #a7b1b0;
}

.containerportfolioright{
	float:right;
	width:300px;
	height:190px;
	margin-top:10px;
	margin-right:20px;	
	position:relative;
	text-align: center;
	color:white;
}


#rpgtext,#rutgerstext{
	position:absolute;
	background-color:#40aaa5; 
	top:100px;
	right:0px;
	padding:10px 100px;
}

#rpgtext:hover,#rutgerstext:hover{
	background-color: #a7b1b0;
}

form{
	margin-left:20px;
}
label{
	display:block;
	font-size: 20px;
	margin-bottom:5px;
	margin-top:2.5px;

}
input{
	width:610px;
}

#message{
	height:150px;
	width:610px;
}

#subbutton{
	color:#ffffff;
	font-size: 20px;
	background-color:#40aaa5;
	border:none;
	padding:10px 60px;
	width:200px;

}

#subbutton:hover{
	color:#40aaa5;
	background-color:#ffffff;
}

p{
	margin-left:10px;
	margin-right:10px;
}

/* Media Queries*/

/*980*/
@media (max-width:980px){
	#container{
		width:980px;
	}

/*430 width*/
 #about_me_container,#portfolio_content,#contactcontainer{
 	clear:both;
 	float:left;
 	background-color:#ffffff;
 	margin-left:152.5px;
 	margin-bottom: 30px;
 	border:1px solid #dddddd;
}
#about_me_container{
 	width:430px;
 	height:850px;
 }

#portfolio_content{
	width:430px;
 	height:1100px;
}

#contactcontainer{
	width:430px;
 	height:400px;
}

 #bio-image{
	width:180px;
	height:233px;
	margin:0 auto;
	padding:10px 125px 5px 125px;
 }

 #connect_container{
 	float:right;
 	background-color:#ffffff;
 	width:200px;
 	border:1px solid #dddddd;
 	margin-left:20px;
 }

#githubicon{
 	margin-left:25px;
 }

#linkeinicon{
	margin-left:0px;
	margin-right:0px;
}

.containerportfolioleft,.containerportfolioright{
	float:left;
	width:280px;
	height:190px;
	margin:5px 20px;
	padding-left:45px;
	padding-right:45px;
	position:relative;
	text-align: center;
	color:white;
}

#hangmantext,#triviatext,#rocktext, #rpgtext,#rutgerstext{
	position:absolute;
	background-color:#40aaa5; 
	top:100px;
	left:45px;
	padding:10px 100px;	
}

#hangmantext:hover,#triviatext:hover,#rocktext:hover{
	background-color: #a7b1b0;
}

input{
	width:390px;
}

#message{
	height:150px;
	width:390px;
}

#subbutton{
	color:#ffffff;
	font-size: 16px;
	background-color:#40aaa5;
	border:none;
	padding:10px;
	width:100px;
}

}

/*768 w=713*/
@media (max-width:768px){
	#container{
		width:768px;
	}
	
	ul{
 	margin:0 20px 0 0;
 	padding:26px 0 26px 0;

 }

#about_me_container,#portfolio_content,#contactcontainer{
 	clear:both;
 	background-color:#ffffff;
 	padding:0;
 	margin:20px;
 	border:1px solid #dddddd;

 }	

 #about_me_container{
 	width:713px;
 	height:600px;
 }

#portfolio_content{
	width:713px;
 	height:700px;
}

#contactcontainer{
	width:713px;
 	height:400px;
}


#name_heading{
 	color: #ffffff;
 	background-color:#40aaa5;
	float:left;
 	margin:0 0 0 20px;
 	padding:21.5px
 }

 #connect_container{
 	float:right;
 	background-color:#ffffff;
 	width:713px;
 	margin:20px;
 	border:1px solid #dddddd;
 }

#connect_heading{
	text-align: left;
	margin:0 0 10px 10px;
	padding:20px 0 10px 10px;
}



.containerportfolioleft{
	clear:both;
	float:left;
	width:300px;
	height:190px;
	padding:0;
	margin-top:10px;
	margin-left:20px;	
	text-align: center;
	color:white;
}

#hangmantext,#triviatext,#rocktext{
	position:absolute;
	background-color:#40aaa5; 
	top:100px;
	left:0px;
	padding:10px 100px;	
}

.containerportfolioright{
	float:right;
	width:300px;
	height:190px;
	margin-top:10px;
	margin-right:20px;
	padding:0;
	text-align: center;
	color:white;
}

#rpgtext,#rutgerstext{
	position:absolute;
	background-color:#40aaa5; 
	top:100px;
	left:0px;
	padding:10px 100px;
}

input{
	width:663px;
}

#message{
	height:150px;
	width:663px;
}

#subbutton{
	color:#ffffff;
	font-size: 16px;
	background-color:#40aaa5;
	border:none;
	padding:10px;
	width:100px;
}

}

@media (max-width:640px){
	#container{
		width:640px;
	}

#nav_container{
	position:static;
	background-color:#ffffff;
	height:130px;
	width:640px ;
	border-bottom:2px solid #cccccc;
}

 #name_heading{
 	color: #ffffff;
 	background-color:#40aaa5;
	float:left;
 	margin:0 auto;
 	padding-left:204.531px;
 	padding-right:204.531px;
 }

 ul{
 	float:left;
 	clear:both;
 	padding-left:218.0155px;

 }

 li{
 	display:inline;
 	color:#b1afa6;
 	
 }

#about_me_container,#portfolio_content,#contactcontainer{
 	clear:both;
 	float:left;
 	background-color:#ffffff;
 	margin-left:20px;
 	margin-bottom: 30px;
 	border:1px solid #dddddd;
}
#about_me_container{
 	width:600px;
 	height:850px;
 }

#portfolio_content{
	width:600px;
 	height:1100px;
}

#contactcontainer{
	width:600px;
 	height:400px;
}

 #bio-image{
	width:180px;
	height:233px;
	padding:10px 210px 5px 210px;
 }
 p{
 	clear:both;
 }

#connect_container{
 	float:right;
 	background-color:#ffffff;
 	width:600px;
 	margin:20px;
 	border:1px solid #dddddd;
 }

#connect_heading{
	text-align: left;
	margin:0 0 10px 10px;
	padding:20px 0 10px 10px;
}


#githubicon{
 	margin-left:25px;
 }

#linkeinicon{
	margin-left:0px;
	margin-right:0px;
}

.containerportfolioleft,.containerportfolioright{
	float:left;
	width:280px;
	height:190px;
	margin:5px 20px;
	padding-left:150px;
	padding-right:150px;
	position:relative;
	text-align: center;
	color:white;
}

#hangmantext,#triviatext,#rocktext, #rpgtext,#rutgerstext{
	position:absolute;
	background-color:#40aaa5; 
	top:100px;
	left:150px;
	padding:10px 100px;	
}

input{
	width:550px;
}

#message{
	height:150px;
	width:550px;
}

#subbutton{
	color:#ffffff;
	font-size: 16px;
	background-color:#40aaa5;
	border:none;
	padding:10px;
	width:100px;
}


}























